/* Modal */
html.modal-active, body.modal-active {
  overflow: hidden;
}
#modal-container {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 1;
    align-items: center;
  }
  
  #modal-container.one {
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.one .modal-background .modal {
    transform: scale(0);
    animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.one.out {
    transform: scale(1);
    animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.one.out .modal-background .modal {
    animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  
  
  #modal-container .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
  }
  #modal-container .modal-background .modal {
    background: rgba(255, 255, 255, 0);
    
    display: inline-block;
   
    font-weight: 300;
    position: relative;
  }
  
  
  .content {
    min-height: 100%;
    height: 100%;
    background: white;
    position: relative;
    z-index: 0;
  }

  .button-image {
    text-align: center;
    cursor:pointer;
}
  .button-image::after{
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    border-radius: 0.35em;
    border: solid 3px rgba(255, 255, 255, 0.5);
    color: #fff;
    content: 'View';
    display: inline-block;
    font-size: 0.8em;
    font-weight: 400;
    left: 50%;
    line-height: 2.25em;
    margin: -1.25em 0 0 -3em;
    opacity: 0;
    padding: 0 1.5em;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 50%;
    white-space: nowrap;
  }
  .button-image:hover:after {
    opacity: 1.0;
}


.button-image:hover:before {
    background: url("images/overlay.png"), url("images/overlay.png");
    opacity: 1.0;
}
  
  @keyframes zoomIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes zoomOut {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  
  
  @keyframes unfoldIn {
    0% {
      transform: scaleY(0.005) scaleX(0);
    }
    50% {
      transform: scaleY(0.005) scaleX(1);
    }
    100% {
      transform: scaleY(1) scaleX(1);
    }
  }
  @keyframes unfoldOut {
    0% {
      transform: scaleY(1) scaleX(1);
    }
    50% {
      transform: scaleY(0.005) scaleX(1);
    }
    100% {
      transform: scaleY(0.005) scaleX(0);
    }
  }
  
  
  /* Carousel */
  
  .carousel {
    position: relative;
    height: 400px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 5rem;
    
  }
  .carousel__images {
    max-width: 500px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
  }
  .carousel h3{
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
    color: black;
  }
  .carousel__track-container {
  
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .carousel__track {
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
    transition: transform 0.4s ease-in-out;
  }
  .carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
  }
  .carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in;
    font-size: 35px;
    color: #c7c7c7;
    z-index: 10;
    padding: 0;
  }
  .carousel__button:hover {

    color: #fff;
  }
  
  .carousel__button--left {
    left: 2%;
  }
  .carousel__button--right {
    right: 2%;
  }
  .carousel__button--close {
    right: 0%;
    position: absolute;

    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in;
    font-size: 30px;
    color: #919191;
    z-index: 10;
  }
  .carousel__button--close:hover {

    color: #d81212;
  }
  .carousel__button img {
    width: 25px;
  }
  .carousel__nav {
    display: flex;
    justify-content: center;
    position: absolute;

    transform: translate(-50%,-30px);
    left: 50%;
    gap: 1rem;
  }
  .carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #ffffff75;
    cursor: pointer;
  }
  .carousel__indicator.current-slide {
    background: #ffffff;
  }

  .is-hidden {
    display: none;
  }


  .none-visibility{
    visibility: hidden;
  }

  @media screen and (max-width: 500px) {

    .carousel {
        height: 300px;
        width: 290px;

        
      }

}